<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Web Compressor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar bg-primary navbar-expand-md">
        <div class="container">
            <a class="navbar-brand ml-3" href="http://localhost:8000">
                <h1 class="text-light">Web File Compressor</h1>
            </a>
        </div>
    </nav>
</header>

<div class="container">
    <main>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter file location:</label>
            <input class="form-control" id="exampleFormControlTextarea1">
        </div>
        <button class="btn btn-primary" id="submit_btn">Submit</button>
        <button class="btn btn-primary" id="refresh_btn">Refresh</button>

        <table class="table table-inverse m-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>File Location</th>
                    <th>Is Started</th>
                    <th>Is Finished</th>
                </tr>
            </thead>
            <tbody id="compressions_status">

            </tbody>
        </table>
    </main>
</div>

<script type="text/javascript" src="{% static 'main.js' %}"></script>

</body>
</html>
